body {
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

pre {
    font-size: 7em;
}

.marks .land {
    fill: #ececec;
}

.marks .sphere {
    fill: #fbfbfb;
}

.marks .interiors {
    fill: none;
    stroke: #d9dfe0;
}

.marks .graticules,
.tick line {
    fill: none;
    stroke: #ececec;
}

circle {
    fill: #000;
    opacity: 0.3;
}

.tick text {
    fill: #635F5D;
    font-size: 0.5em;
}

.mark {
    fill: #137B80;
}

.menus-container {
    margin-top: 20px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-label {
    margin-left: 100px;
    margin-right: 15px;
  }
  .Dropdown-root {
    font-size: 1.5em;
    width: 300px;
    display: inline-block;
  }
  .Dropdown-menu {
    max-height: 400px;
  }

  .axis-label, .dropdown-label {
    font-size: 2em;
    fill: #635F5D;
    color: #635F5D;
  }


  .heat-map-mark {
    fill: #000;
}
